
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Source+Sans+Pro:wght@300;400;600&display=swap');

@import './global/breakpoints.scss';
@import './global/typography.scss';
@import './tools/media-queries.scss';
@import './components/hero.scss';
@import './components/nav.scss';
@import './components/tabpanels.scss';
@import './components/services.scss';
@import './components/contact.scss';
@import './components/about.scss';
@import './components/process.scss';
@import './components/service-detail.scss';
@import './components/homepage.scss';
@import './components/footer.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin:0;
  padding: 0;
  min-height: 100vh;
  font-size: 16px;
}

ul{
  list-style-type: none;
  padding-left: 0px;
}

input{
  border: 1px solid black;
  padding: 12px 8px;
}

textarea{
  border: 1px solid black;
  min-height: 350px;
  padding: 12px 8px;
}

code{
  color: red;
}

// .react-tabs__tab-panel{ @apply py-0 px-0 md:py-10 md:px-28 }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes dropIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


.underline-animation::after {
  content: '';
  display: block;
  width: 0;
  height: 2px; /* Bold underline */
  background: #f4c263; /* Yellow underline */
  transition: width .5s;
  position: absolute;
  bottom: -4px; /* Adjust as needed */
}

.underline-animation:hover::after {
  width: 100%;
  transition: width 1s;

}
